<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/header'); %>
    <title>صفحه اصلی</title>
  </head>
  <body>
    <%- include('partials/navbar', {pagenumber:0}); %>
    <div class="container-lg d-flex flex-wrap flex-row-reverse mt-4">
      <% if (products.length === 0) { %>
      <h1>موردی یافت نشد</h1>
      <% } %> <% products.forEach(element => { %>
      <div class="p-2 m-0 col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img
            class="card-img-top"
            src="<%= element.picture %>"
            alt="Card image cap"
          />
          <div class="card-body">
            <h6 class="card-title text-center">
              <b><%= element.title %> <%= element.model %></b>
            </h6>
            <div dir="rtl" class="my-4">
              <p class="card-text text-right">رنگ: <%= element.color %></p>
              <p class="card-text text-right">سایز: <%= element.size %></p>
              <p class="card-text text-right">جنس: <%= element.material %></p>
              <p class="card-text text-right">قیمت: <%= element.price %></p>
            </div>
            <div class="d-flex justify-content-center">
              <a
                href="/products/<%= element.id %>"
                class="btn btn-success col-md-12 col-sm-8 col-6"
                >خرید</a
              >
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
