<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/header'); %>
    <title><%= product.title %></title>
  </head>
  <body dir="rtl">
    <%- include('partials/navbar', {pagenumber:-1}); %>
    <div class="container-lg d-flex flex-wrap mt-3">
      <div class="px-2 m-0 col-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <h3><%= product.title %> <%= product.model %></h3>
            <p class="card-text text-right">رنگ: <%= product.color %></p>
            <p class="card-text text-right">سایز: <%= product.size %></p>
            <p class="card-text text-right">جنس: <%= product.material %></p>
            <p class="card-text text-right">قیمت: <%= product.price %></p>
          </div>
        </div>
      </div>
      <div class="px-2 pt-2 pt-md-0 m-0 col-12 col-md-6">
        <img class="w-100" src="/<%= product.picture %>" alt="<%= product.picture %>" />
      </div>
    </div>
  </body>
</html>
